<div class="login-content">
    <h3 class="form-title">Sign In</h3>
    <form class="form-horizontal col-sm-offset-4">

        <div class="form-group form-group-sm">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-4">
                <input type="email" class="form-control input-sm" id="email" placeholder="Enter email" name="email">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-4">          
                <input type="password" class="form-control input-sm" id="pwd" placeholder="Enter password" name="pwd">
            </div>
        </div>
        <div class="form-group form-group-sm">        
            <div class="col-sm-offset-2 col-sm-2">
                <button type="submit" class="btn btn-success uppercase">Submit</button>
            </div>
        </div>
        <div class="create-account">
            <p>
                <a href="javascript:;" id="register-btn" class="uppercase">Create an account</a>
            </p>
        </div>
    </form>
</div>