<div class="reg-content">
    <h3 class="form-title">Sign Up</h3>
    <form class="form-horizontal col-sm-offset-4">
        <div class="form-group form-group-sm">
            <label class="control-label col-sm-2" for="email">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control input-sm" id="name" placeholder="Enter Your Full Name" name="name">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-4">
                <input type="email" class="form-control input-sm" id="email" placeholder="Enter Your email" name="email">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-4">          
                <input type="password" class="form-control input-sm" id="pwd" placeholder="Enter Your password" name="pwd">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label col-sm-2" for="email">Contact No</label>
            <div class="col-sm-4">
                <input type="text" class="form-control input-sm" id="name" placeholder="Enter Your Contact No." name="contact">
            </div>
        </div>
        <div class="form-group form-group-sm">
            <label class="control-label col-sm-2" for="email">Address</label>
            <div class="col-sm-4">
                <input type="text" class="form-control input-sm" id="address" placeholder="Enter Your Address" name="addr">
            </div>
        </div>
        <div class="form-group form-group-sm">        
            <div class="col-sm-offset-2 col-sm-2">
                <button type="submit" class="btn btn-success uppercase">Submit</button>
            </div>
        </div>
        <div class="create-account">
            <p>
                <a href="javascript:void(0)" id="register-btn" class="uppercase">Sign In</a>
            </p>
        </div>
    </form>
</div>